body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #947bc5;
}

h1 {
  color: #8fdecf;
  text-align: center;
  margin-top: 50px;
}

p {
  color: #04423a;
  text-align: center;
  font-size: 18px;
}
